<!DOCTYPE html>
<html>
<head>
    <title>Tennis Tournament Registration</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>Tennis Tournament Registration</h1>
        <form action="/index" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="firstname" required><br><br>

            <label for="city">City:</label>
            <input type="text" id="city" name="city" required><br><br>

            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" required><br><br>

            <label for="whatsapp">WhatsApp Number:</label>
            <input type="tel" id="whatsapp" name="whatsapp" required><br><br>

            <p>Select events (max 2):</p>
            <input type="checkbox" id="openDoubles" name="events" value="Open Doubles">
            <label for="openDoubles">Open Doubles</label><br>

            <input type="checkbox" id="openMixedDoubles" name="events" value="Open Mixed Doubles">
            <label for="openMixedDoubles">Open Mixed Doubles</label><br>

            <input type="checkbox" id="90Plus" name="events" value="90+">
            <label for="90Plus">90+</label><br>

            <input type="checkbox" id="105Plus" name="events" value="105+">
            <label for="105Plus">105+</label><br>

            <input type="checkbox" id="120Plus" name="events" value="120+">
            <label for="120Plus">120+</label><br><br>

                <label for="partner">Partner Name:</label>
                <input type="text" id="partner" name="partner"><br><br>

            <p>Gala dinner preference:</p>
            <input type="radio" id="veg" name="dinner" value="Veg">
            <label for="veg">Veg</label><br>

            <input type="radio" id="nonVeg" name="dinner" value="Non Veg">
            <label for="nonVeg">Non Veg</label><br><br>

            <p>Drink preference:</p>
            <input type="radio" id="whiskey" name="drink" value="Whiskey">
            <label for="whiskey">Whiskey</label><br>

            <input type="radio" id="rum" name="drink" value="Rum">
            <label for="rum">Rum</label><br>

            <input type="radio" id="beer" name="drink" value="Beer">
            <label for="beer">Beer</label><br>

            <input type="radio" id="none" name="drink" value="None">
            <label for="none">None</label><br><br>

            <label for="code">Enter Partner's Code (if applicable):</label>
            <input type="text" id="code" name="code"><br><br>

            <input type="submit" value="Register">
            {{!-- <a href="/generate-fixtures">Generate Fixtures</a> --}}
        </form>
    </div>
</body>
</html>
